
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
.container {
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {   
    width: 500px;
    margin: 0 auto; 
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.card img{
    margin: 0;
    padding: 0;
}
.card-body {
   
}
.text{font-size: 13px;
    text-align: center;
    margin: auto;
    display: block;
 width: 160px;
}
.card h3 {
   
    font-weight: 600;
    color: #343a40;
    
}

p {
    color: #6c757d;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
label {
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
}
input[type="password"] {
    padding: 0.5rem;
    border: none;
        border-bottom: 2px solid #3a3a3a;
        outline: none;
        box-shadow: none;
        border-radius: 0;
    width: 90%;
    font-size: 1rem;
    color: #495057;display: block;
    margin: auto;
}
input[type="password"]:focus {
    box-shadow: none;
    border-bottom: #5feaff solid 2px;
    background-color: white;
    outline: none; 
}

input[type="text"] {
    padding: 0.5rem;
    display: block;
    margin: auto;

    border: none;
        border-bottom: 2px solid #3a3a3a;
        outline: none;
        box-shadow: none;
        border-radius: 0;
    width: 90%;
    font-size: 1rem;
    color: #495057;
}
input[type="text"]:focus {
    box-shadow: none;
    border-bottom: #5feaff solid 2px;
    background-color: white;
    outline: none; 
}

input[type="email"] {
    padding: 0.5rem;
    border: none;
        border-bottom: 2px solid #3a3a3a;
        outline: none;
        box-shadow: none;
        border-radius: 0;
    width: 90%;
    font-size: 1rem;
    color: #495057;display: block;
    margin: auto;
}
input[type="email"]:focus {
    box-shadow: none;
    border-bottom: #5feaff solid 2px;
    background-color: white;
    outline: none; 
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 1rem;
    border-radius: 0.25rem;
}


#submitBtn:hover {
    background: linear-gradient(to right, #005a8f, #5feaff);
    cursor: pointer;
    opacity: 0.8;
}
#submitBtn:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

#submitBtn {
    transition: all 0.5s;
}
.text a {
    color: #016199;
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.5s; 
   
}

.text a:hover {
    color: #36f1f7;
}
#submitBtn:hover {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#submitBtn {
    background: linear-gradient(to right, #5feaff, #005a8f);
    border: none;
    width: 90%;
    height: 50px;
    font-size: large;
    color: white;
font-weight: 700;
    transition: opacity 0.5s ease-in-out;
}

div.reg{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.loader {
    margin-top: 10px;
    height: 35px;
    width: 1px;
    position: relative;
    border-style: solid;
    box-sizing: border-box;
    border-width: 20px 30px 15px 30px;
    border-color: #00576d #96ebfc #6ec0bd #36f1f7;
    animation: envFloating 1s ease-in infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    right: 31px;
    top: -20px;
    height: 35px;
    width: 15px;
    background-image: linear-gradient(blue 65px, transparent 0),
        linear-gradient(blue 65px, transparent 0),
        linear-gradient(blue 65px, transparent 0);
    background-repeat: no-repeat;
    background-size: 15px 2px;
    background-position: 0px 5.5px , 4px 17.5px, 0px 30px;
    animation: envDropping 0.75s linear infinite;
}
  
  @keyframes envFloating {
    0% {
      transform: translate(-2px, -5px)
    }
  
   50% {
      transform: translate(0, 5px)
    }
  }
  
  @keyframes envDropping {
    0% {
      background-position: 100px 11px , 115px 35px, 105px 60px;
      opacity: 1;
    }
  
    50% {
      background-position: 0px 11px , 20px 35px, 5px 60px;
    }
  
    60% {
      background-position: -30px 11px , 0px 35px, -10px 60px;
    }
  
    75%, 100% {
      background-position: -30px 11px , -30px 35px, -30px 60px;
      opacity: 0;
    }
  }
        





  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    color: #004dff;
    background: radial-gradient(farthest-side, currentColor calc(100% - 7px),#0000 calc(100% - 6px) 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 15px),#000 calc(100% - 13px));
    border-radius: 50%;
    animation: spinner-sm4bhi 2s infinite linear;
   }
   
   .spinner::before,
   .spinner::after {
    content: "";
    grid-area: 1/1;
    background: linear-gradient(currentColor 0 0) center,
             linear-gradient(currentColor 0 0) center;
    background-size: 100% 11px,11px 100%;
    background-repeat: no-repeat;
   }
   
   .spinner::after {
    transform: rotate(45deg);
   }
   
   @keyframes spinner-sm4bhi {
    100% {
     transform: rotate(1turn);
    }
   }





  @media (max-width: 600px) {
    .card {
        width: 1200px !important;
        height: 900px;
    }
    div.container {
        height: 1100px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .text {
        width: 100%;
    }
    input[type="password"], input[type="text"], input[type="email"], #submitBtn {
        width: 100%;
    }
}

